/****************************************************************/
/****************************************************************/
body {
  font-size: 90%;
}
.ts-container {
  position: static;
}
.ts-container .ts-wrapper .ts-bar-bg,
.ts-container.affix.top-0 {
  position: static !important;
}
.ts-wrapper .container.relative {
  max-height: none !important;
}
.slide-down-closed,
.custom-accordion-group-content {
  will-change: all;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  max-height: 400em;
  opacity: 1;
}
.ts-container .ts-wrapper ul.ts-summary .flight-warning .icon-placeholder {
  box-shadow: 0 0 0 500px inset rgba(102, 181, 172, 0.003);
}
.plane-on-line {
  border-bottom: 1px solid #008374;
  border-top: 1px solid #008374;
}
.price.low {
  box-shadow: inset 0 0 0 500px rgba(207, 232, 229, 0.3);
}
.price.plus {
  box-shadow: inset 0 0 0 500px rgba(191, 224, 220, 0.3);
}
.price.select {
  box-shadow: inset 0 0 0 500px rgba(137, 186, 22, 0.3);
}
.price.disabled {
  box-shadow: inset 0 0 0 500px #f9f9f9;
}
.flight-details {
  box-shadow: inset 0 0 0 500px #f9f9f9;
}
.ts-container .ts-wrapper ul.ts-summary li ul li.purchase:first-child {
  background-color: transparent;
}
[purchase-fare-summary] .centered-block h3 {
  page-break-before: always;
}
.form-style-1,
.field-panel-default,
[purchase-fare-summary] .centered-block ul > li,
.results li {
  page-break-inside: avoid;
}
.header-container.ng-hide,
.ts-summary li.col.col-xs-4,
[advance-buttons] + div {
  display: block !important;
}
*,
* *,
* * * {
  background-color: transparent !important;
}
.carousel-control,
.carousel-indicators,
.carousel img,
.route-finder-wrapper,
.arrow-up-state.arrow-up-col1,
.product-image-tent,
.plane-on-line,
.confirm-util-btn,
.price .arrow-wrpr,
.ts-bar-bg.tealGreenbg,
.purchase .v-align-parent.circle.circle-m.tealGreenbg,
.ts-wrapper .col.s.col-xs-5pc.r-align.padding-top-xs,
.conf-wrapper + .container [confirm-upsell-ancillary],
[confirm-upsell-specific-ancillary],
button,
.col.col-xs-65pc.float-right.r-align.border-bottom-s.col-xs-1,
.footer-style,
hr.solid.border-gray-10,
hr.solid.border-gray-10 + hr.solid.border-gray-20,
hr.solid.border-gray-20 + .tab.center.absolute,
[trip-summary] + div .orange-pale-bg,
[purchase-fare-summary] .icon.gray-13.xxl2.float-right {
  display: none;
}
.none-print {
  display: none;
}
.transaction-table-wrap {
  max-width: auto;
  overflow-x: auto;
}
.transaction-table {
  border-collapse: separate;
  padding-top: 0;
  -webkit-padding-end: 50px;
  width: 100%;
}
.transaction-table .transaction-print-tr {
  width: 100%;
  border: none;
}
.transaction-table .transaction-print-tr .print-col-xs-40pc {
  width: 40%;
}
.transaction-table .transaction-print-tr .print-col-xs-15pc {
  width: 15%;
}
.transaction-table .transaction-print-tr .transaction-print-th {
  padding: 0;
}
.transaction-table .transaction-print-tr .transaction-print-th a {
  padding: 0 0 0 5px;
  border: none;
  color: black;
  font-size: 16px;
  font-weight: bold;
}
.transaction-table .transaction-print-tr .transaction-print-th .transaction-print-padding {
  padding: 0;
  border: none;
}
.transaction-table .transaction-print-tr .transaction-print-td {
  padding: 0 0 0 5px;
  border: none;
  color: black;
  font-size: 16px;
}
.transaction-table .transaction-print-tr .transaction-print-td .transaction-print-padding {
  padding: 0;
  border: none;
}
/* tealGreen */
/*Red*/
/* shamrockGreen */
/* deepBlue */
/* darkBlue */
/* orange */
/* purple */
/*Red*/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .invert-ie {
    position: relative;
  }
  .invert-ie:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 900;
    outline: 2999px solid invert;
  }
}
/* Styles go here */
.prep-drawer,
animate-show,
.prep-drawer.drawer-open,
.fade-prep,
.animate-min-height,
.fade-in-right > *,
.fade-out-right > *,
.fade-in-left > *,
.fade-out-left > * {
  -webkit-transition: none 0 ease !important;
  -moz-transition: none 0 ease !important;
  -o-transition: none 0 ease !important;
  -ms-transition: none 0 ease !important;
  transition: none 0 ease !important;
}
.carousel {
  position: relative;
}
.carousel-caption {
  position: static;
}
.grid-img-wrapper {
  height: auto !important;
}
.grid-img-wrapper .container.absolute,
.grid-img-wrapper .container.absolute-fill {
  position: static;
  margin-left: auto;
}
.grid-img-wrapper img {
  display: none !important;
}
.copy p,
.copy q,
.copy li,
.copy h1,
.copy h2,
.copy h3,
.copy h4,
.copy h5,
.copy h6,
.copy blockquote,
.copy .aside-box,
.copy table {
  page-break-inside: avoid;
  widows: 3;
}
.copy h1,
.copy h2,
.copy h3,
.copy h4,
.copy h5,
.copy h6 {
  page-break-after: avoid !important;
}
.copy a {
  font-family: "Diodrum-Semibold", Helvetica, Arial, sans-serif;
  display: inline !important;
  color: #008374 !important;
}
.copy a:before {
  display: none !important;
}
.copy a[href*=http]:after,
.copy a[href*=html]:after {
  font-family: "Diodrum-Regular", Helvetica, Arial, sans-serif;
  content: " (" attr(href) ") ";
  display: inline !important;
  font-weight: lighter;
}
.no-shadow-p,
.carousel-caption,
.gray-0 {
  text-shadow: none !important;
}
.gray-0 {
  color: #666;
}
.gray-0-bg {
  box-shadow: inset 0px 0px 0px 500px #ffffff;
}
.gray-6-bg {
  border: 1px solid #666;
}
.gray-11-bg {
  border: 1px solid #f1f1f1;
}
.gray-12-bg {
  border: 1px solid #f9f9f9;
}
.gray-13-bg {
  border: 1px solid #ccc;
}
.gray-14-bg {
  border: 1px solid #eee;
}
.gray-15-bg {
  border: 1px solid #dadada;
}
.gray-16-bg {
  border: 1px solid #f3f3f3;
}
.gray-20-bg {
  border: 1px solid #e5e5e5;
}
.gray-21-bg {
  border: 1px solid #b5b5b5;
}
.orange-bg {
  border: 1px solid #ff8800;
}
.orange-pale-bg {
  border: 1px solid #ffe7cd;
}
.tealGreenLightV1bg {
  border: 1px solid #41a297;
}
.tealGreenLightV2bg {
  border: 1px solid #55aea4;
}
.form-style-1 fieldset .left-panel {
  box-shadow: inset 0 0 0 200px rgba(249, 249, 249, 0.5);
}
.form-style-1 fieldset.field-panel1 .right-panel {
  box-shadow: inset 0 0 0 700px rgba(207, 232, 229, 0.2);
}
.form-style-1 fieldset.field-panel2 .right-panel {
  box-shadow: inset 0 0 0 700px rgba(234, 244, 245, 0.4);
}
[product-img] .grid-img-wrapper {
  box-shadow: inset 0 0 0 700px rgba(102, 102, 102, 0.2);
}
[product-img] .grid-img-wrapper:before {
  display: none;
}
[product-img] .grid-img-wrapper.selected-state {
  box-shadow: inset 0 0 0 700px rgba(0, 131, 116, 0.2);
  border: 0 none transparent;
}
[product-img] aside,
[product-img] .short-des-in::before {
  display: none;
}
.box-style2 li .box-head {
  box-shadow: inset 0 0 0 700px rgba(26, 144, 130, 0.3);
}
.price {
  background-color: transparent;
}
.price.low {
  box-shadow: inset 0 0 0 700px rgba(207, 232, 229, 0.3);
}
.price.low1 {
  box-shadow: inset 0 0 0 700px rgba(196, 221, 139, 0.3);
}
.price.low1 .message-success {
  box-shadow: inset 0 0 0 700px rgba(196, 221, 139, 0.3);
}
.price.flex {
  box-shadow: inset 0 0 0 700px rgba(191, 224, 220, 0.3);
}
.benefits .price.flex {
  box-shadow: inset 0 0 0 700px rgba(64, 162, 151, 0.3);
}
.price.plus {
  box-shadow: inset 0 0 0 700px rgba(191, 224, 220, 0.3);
}
.benefits .price.plus {
  box-shadow: inset 0 0 0 700px rgba(64, 162, 151, 0.3);
}
.price.bus {
  box-shadow: inset 0 0 0 700px rgba(216, 227, 237, 0.3);
}
.benefits .price.bus {
  box-shadow: inset 0 0 0 700px rgba(99, 143, 182, 0.3);
}
.price.busflex {
  box-shadow: inset 0 0 0 700px rgba(203, 217, 230, 0.3);
}
.benefits .price.busflex {
  box-shadow: inset 0 0 0 700px rgba(51, 102, 153, 0.3);
}
.price.select {
  box-shadow: inset 0 0 0 700px rgba(132, 189, 0, 0.3);
}
.benefits .price.select {
  box-shadow: inset 0 0 0 700px rgba(167, 203, 80, 0.3);
}
.tealGreenbg {
  box-shadow: inset 0 0 0 600px rgba(0, 131, 116, 0.2);
}
.tealGreen25bg {
  box-shadow: inset 0 0 0 600px rgba(64, 162, 151, 0.05);
}
.tealGreenDarkbg {
  border: 1px solid #006257;
}
.shamrockGreenDarkbg {
  border: 1px solid #678b10;
}
.shamrockGreenbg {
  border: 1px solid #84BD00;
}
.tealGreen50bg {
  border: 1px solid #80c1ba;
}
.tealGreenVariation6bg {
  border: 1px solid #1a9082;
}
.tealGreenUltraLightbg {
  border: 1px solid #eaf4f5;
}
.orangePaleLightbg {
  border: 1px solid #fcf5ed;
}
.tealGreen-bg {
  border: 1px solid #008374;
}
.deepBlueDark-bg {
  border: 1px solid #234f76;
}
.deepBlue50-bg {
  border: 1px solid #97b4ce;
}
.skyBlue-bg {
  border: 1px solid #42c8f4;
}
.yellowLight-bg {
  border: 1px solid #ede8ce;
}
.tealGreenV3-bg {
  border: 1px solid #d8ecea;
}
.red-bg {
  border: 1px solid #C04343;
}
.fb-blue-bg {
  border: 1px solid #3b5998;
}
.twitter-blue-bg {
  border: 1px solid #55acee;
}
.in-blue-bg {
  border: 1px solid #007bb6;
}
.footer-style {
  box-shadow: inset 0 0 0 700px rgba(34, 34, 34, 0.02);
}
.shadow-black-50 {
  text-shadow: 0 0 0 transparent;
}
.display-none-print {
  display: none;
}
.container {
  min-width: auto !important;
  width: 100% !important;
}
.modal-open {
  overflow: visible;
}
.modal-open > *:not(.modal) {
  display: none;
}
.modal-backdrop {
  display: none;
}
.modal {
  position: static;
  bottom: auto;
  right: auto;
  left: auto;
  top: auto;
}
.modal-dialog {
  width: 100% !important;
}
.full-scr-modal-left .modal-dialog,
.full-scr-modal-right .modal-dialog {
  width: 100% !important;
}
.full-scr-modal-right .modal-dialog,
.full-scr-modal-left .modal-dialog {
  margin-left: 0% !important;
}
.modal-dialog .modal-content,
.modal-dialog .modal-content .modal-body {
  height: auto !important;
}
.box-style2 {
  box-shadow: 0 0 0 200px inset rgba(255, 255, 255, 0.003);
}
.box-style2 li .box-head {
  box-shadow: 0 0 0 200px inset rgba(26, 144, 130, 0.003);
}
.box-style2 .box-sub-menu {
  box-shadow: 0 0 0 200px inset rgba(255, 255, 255, 0.003);
}
.box-style2 .box-li {
  box-shadow: 0 0 0 200px inset rgba(255, 255, 255, 0.003);
}
.box-style2 .box-li:hover .interactive {
  box-shadow: 0 0 0 200px inset rgba(167, 203, 80, 0.003);
}
.box-style2 .box-li.active .interactive,
.box-style2 .box-li:active .interactive,
.box-style2 .box-li:focus .interactive {
  box-shadow: 0 0 0 200px inset rgba(244, 248, 231, 0.003);
}
.box-style2 .box-bottom {
  box-shadow: 0 0 0 200px inset rgba(64, 162, 151, 0.003);
}
.ts-container .ts-wrapper ul.ts-summary li ul li.purchase:first-child {
  box-shadow: 0 0 0 200px inset rgba(64, 162, 151, 0.003);
}
.user-profile-aerclub-card {
  position: relative;
}
.user-profile-aerclub-card img {
  width: 48%;
  height: 48%;
}
.user-profile-aerclub-card .card-info {
  position: absolute;
  top: 75%;
  left: 5%;
  line-height: 1em;
}
.user-profile-aerclub-card .card-info text {
  font-size: 0.6em;
  font-family: "CartoGothic-Light", "CartoGothic-Light-e", Helvetica, Arial, sans-serif;
}
.user-profile-aerclub-card .card-info text .b {
  font-weight: bold;
}
